# Smart Irrigation â€“ Week 1

**Name:** Keerthi Bandari  
**Internship ID:** INTERNSHIP_1748923002683e727a876ea  
**Date:** 16 July 2025

In [ ]:
import pandas as pd
df = pd.read_csv("irrigation_machine.csv")
if "Unnamed: 0" in df.columns:
    df.drop(columns=["Unnamed: 0"], inplace=True)
df.reset_index(drop=True, inplace=True)
print(df.columns.tolist())

['sensor_0', 'sensor_1', 'sensor_2', 'sensor_3', 'sensor_4', 'sensor_5', 'sensor_6', 'sensor_7', 'sensor_8', 'sensor_9', 'sensor_10', 'sensor_11', 'sensor_12', 'sensor_13', 'sensor_14', 'sensor_15', 'sensor_16', 'sensor_17', 'sensor_18', 'sensor_19', 'parcel_0', 'parcel_1', 'parcel_2']

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score


try:
    df = pd.read_csv("irrigation_machine.csv")
    print("Sample data:")
    print(df.head())
except FileNotFoundError:
    print("Dataset not found. Please place 'irrigation_machine.csv' in the same folder.")

Sample data:
   Unnamed: 0  sensor_0  sensor_1  sensor_2  sensor_3  sensor_4  sensor_5  \
0           0       1.0       2.0       1.0       7.0       0.0       1.0
1           1       5.0       1.0       3.0       5.0       2.0       2.0
2           2       3.0       1.0       4.0       3.0       4.0       0.0
3           3       2.0       2.0       4.0       3.0       5.0       0.0
4           4       4.0       3.0       3.0       2.0       5.0       1.0

   sensor_6  sensor_7  sensor_8  sensor_9  sensor_10  sensor_11  sensor_12  \
0       1.0       4.0       0.0       3.0        1.0        3.0        6.0
1       1.0       2.0       3.0       1.0        3.0        2.0        2.0
2       1.0       6.0       0.0       2.0        3.0        2.0        4.0
3       3.0       2.0       2.0       5.0        3.0        1.0        2.0
4       3.0       1.0       1.0       2.0        4.0        5.0        3.0

   sensor_13  sensor_14  sensor_15  sensor_16  sensor_17  sensor_18  \
0        8.0        1.0        0.0        2.0        1.0        9.0
1        4.0        5.0        5.0        2.0        2.0        2.0
2        3.0        3.0        1.0        0.0        3.0        1.0
3        4.0        1.0        1.0        4.0        1.0        3.0
4        1.0        3.0        2.0        2.0        1.0        1.0

   sensor_19  parcel_0  parcel_1  parcel_2
0        2.0         0         1         0
1        7.0         0         0         0
2        0.0         1         1         0
3        2.0         0         0         0
4        0.0         1         1         0

In [ ]:
X = df.iloc[:, 0:20]    
y = df.iloc[:, 20:23]   

print("Shape of X:", X.shape)
print("Shape of y:", y.shape)
print("\nX Columns:", X.columns.tolist())
print("y Columns:", y.columns.tolist())

Shape of X: (2000, 20)
Shape of y: (2000, 3)

X Columns: ['sensor_0', 'sensor_1', 'sensor_2', 'sensor_3', 'sensor_4', 'sensor_5', 'sensor_6', 'sensor_7', 'sensor_8', 'sensor_9', 'sensor_10', 'sensor_11', 'sensor_12', 'sensor_13', 'sensor_14', 'sensor_15', 'sensor_16', 'sensor_17', 'sensor_18', 'sensor_19']
y Columns: ['parcel_0', 'parcel_1', 'parcel_2']

In [31]:
X.sample(10)

,sensor_0,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,sensor_8,sensor_9,sensor_10,sensor_11,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19
1189,1.0,1.0,1.0,1.0,3.0,2.0,2.0,3.0,2.0,2.0,3.0,2.0,6.0,2.0,2.0,1.0,0.0,2.0,3.0,1.0
1252,7.0,5.0,0.0,3.0,4.0,3.0,3.0,2.0,2.0,0.0,3.0,2.0,4.0,1.0,2.0,3.0,2.0,0.0,2.0,3.0
524,4.0,1.0,3.0,1.0,2.0,4.0,2.0,3.0,2.0,0.0,4.0,4.0,2.0,0.0,4.0,2.0,4.0,2.0,2.0,4.0
1763,0.0,1.0,3.0,5.0,1.0,0.0,2.0,10.0,1.0,1.0,5.0,5.0,1.0,6.0,5.0,2.0,1.0,0.0,4.0,1.0
1174,1.0,3.0,2.0,3.0,3.0,3.0,1.0,4.0,5.0,2.0,1.0,5.0,5.0,5.0,2.0,1.0,4.0,1.0,6.0,3.0
12,1.0,1.0,1.0,1.0,5.0,2.0,7.0,0.0,4.0,4.0,5.0,4.0,2.0,4.0,0.0,0.0,1.0,6.0,3.0,2.0
1880,2.0,3.0,2.0,2.0,2.0,1.0,1.0,3.0,2.0,0.0,4.0,4.0,5.0,1.0,2.0,1.0,1.0,0.0,1.0,0.0
1756,1.0,1.0,1.0,4.0,1.0,2.0,3.0,6.0,0.0,3.0,1.0,3.0,2.0,4.0,1.0,0.0,5.0,3.0,0.0,1.0
825,3.0,1.0,2.0,2.0,3.0,1.0,3.0,4.0,3.0,1.0,3.0,3.0,1.0,1.0,1.0,1.0,2.0,3.0,1.0,3.0
1574,2.0,2.0,5.0,3.0,8.0,4.0,2.0,4.0,0.0,2.0,0.0,1.0,2.0,3.0,3.0,1.0,2.0,0.0,2.0,3.0

In [32]:
y.sample(10)

      parcel_0  parcel_1  parcel_2
186          1         1         1
1898         1         1         1
1471         1         1         0
784          1         1         1
848          0         1         0
558          1         0         0
1092         1         0         0
713          1         0         0
1251         0         1         0
1985         0         1         0

In [33]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sensor_0   2000 non-null   float64
 1   sensor_1   2000 non-null   float64
 2   sensor_2   2000 non-null   float64
 3   sensor_3   2000 non-null   float64
 4   sensor_4   2000 non-null   float64
 5   sensor_5   2000 non-null   float64
 6   sensor_6   2000 non-null   float64
 7   sensor_7   2000 non-null   float64
 8   sensor_8   2000 non-null   float64
 9   sensor_9   2000 non-null   float64
 10  sensor_10  2000 non-null   float64
 11  sensor_11  2000 non-null   float64
 12  sensor_12  2000 non-null   float64
 13  sensor_13  2000 non-null   float64
 14  sensor_14  2000 non-null   float64
 15  sensor_15  2000 non-null   float64
 16  sensor_16  2000 non-null   float64
 17  sensor_17  2000 non-null   float64
 18  sensor_18  2000 non-null   float64
 19  sensor_19  2000 non-null   float64
dtypes: float64(20)
memory usage: 312.6 KB

In [34]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   parcel_0  2000 non-null   int64
 1   parcel_1  2000 non-null   int64
 2   parcel_2  2000 non-null   int64
dtypes: int64(3)
memory usage: 47.0 KB

In [35]:
print("Shape of X:", X.shape)
print("Shape of y:", y.shape)

Shape of X: (2000, 20)
Shape of y: (2000, 3)